#
# ~/.bashrc
#

{{- if eq .chezmoi.hostname "mustang" }}
# Mustang host memory protection: cap build concurrency to 12 jobs (<24GB working set)
export MAKEFLAGS="-j12"
export CMAKE_BUILD_PARALLEL_LEVEL=12
{{- end }}

# If not running interactively, don't do anything
[[ $- != *i* ]] && return

alias ls='ls --color=auto'
alias grep='grep --color=auto'
PS1='[\u@\h \W]\$ '


# Added by Antigravity CLI installer
export PATH="$HOME/.local/bin:$PATH"
