[Unit]
Description=Monero miner service

[Service]
ExecStart=/home/diego/xmrig/build/xmrig --config=config.json
Restart=always
Nice=10
CPUWeight=1

[Install]
WantedBy=multi-user.target
